.intro {
  height: 100%;
  background: url(../media/images/home/intro.jpg) no-repeat;
  background-size: cover;
  color: #47d1ba;
  display: grid;
  place-items: center;
}

.intro-text {
  padding: 0.35rem;
  width: 70%;
  max-width: 350px;
  font-size: 0.75rem;
  background: #4b4d4d;
  border-radius: 0.35rem;
}

.intro h2 {
  margin-bottom: 0.35rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}
